@import '../config';

.cards{
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &-grids{
    .card{
      flex: 1;
      min-width:47.5%;
      margin:1%;
      border: none;

      &:first-child{
        min-width:100%;
        margin: 0 0 2.5% 0;
      }

      &:nth-child(even){
        margin-left: 0;
      }

      &:nth-child(odd){
        margin-right: 0;
      }
    }

    &-small {
      @media (min-width: $col-xl) {
        .card {
          min-width: 18%;
          max-width: 18%;
          margin: 1%;
          &:first-child{
            min-width: 18%;
            max-width: 18%;
            margin: 1%;
          }

          &:nth-child(even){
            margin-left: 1%;
          }

          &:nth-child(odd){
            margin-right: 1%;
          }
        }
      }
    }
  }
}

.card{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 2px;
  margin: 0;
  max-width: 1900px;

  &-content{
    display:inline-block;
    max-height: 60px;
    max-width: 100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
  }

  img{
    max-height: 350px;
    border-radius: 0;
  }

  &-no-padding{
    padding: 0;
  }

  &-margin-bottom{
    margin-bottom: 100px;
  }

  @media (min-width: $col-md){
    margin-bottom: 0;
  }
}
