.cards{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 0;
  box-shadow: rgba(0,0,0,0.117647) 0 1px 6px, rgba(0,0,0,0.117647) 0 1px 4px;

  img{
    max-height: 350px;
  }
}
