@import './variables';

.cards-main-page > .card{
  width: 100%;

  @media (min-width: $screen-small) {
    width: 49%;
    margin-left: 1%;

    &:first-child {
      width: 100%;
    }
  }

  @media (min-width: $screen-large) {
    width: 32.3%;

    &:nth-child(2), &:nth-child(3) {
      width: 49%;
    }
  }
}

.cards{
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
}

.card{
  margin: 0;
  padding: 0;
  margin-bottom: 2%;
  position: relative;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.3), 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  &-img-content{
    width: 100%;
    height: 100%;
  }

  &-img{
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    position: relative;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(#000, 0.2),rgba(#000, 0.8));
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &-description{
    padding: 0 20px 20px 20px;
  }

  &-header{
    padding: 0 20px;
    margin: 0;
    color: #fff;
    transform: translateY(-300%);
  }

  &-buttons{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    border-top: 1px solid #E0E0E0;
  }

  &-button{
    font-weight: 500;
    padding: 10px 26px;
    font-size: 130%;
    text-decoration: none;
    outline: none;
    position: relative;
    display: inline-block;
    color: #FF1744;
    transition: all 0.3s ease-out;


    &:hover{
      color: lighten(#FF1744, 20%);
      background:#f2f2f2;
    }
  }
}
