<form [formGroup]="calculatorForm"
      class="calculator"
      novalidate>
  <div class="form-group calculator-item">
    <label>Mężczyzna</label>
    <input class=" form-control"
           [ngModel]="userInformation.isMen"
           type="checkbox"
           formControlName="isMen">
    <label>Kobieta</label>
  </div>
  <div class="form-group calculator-item">
    <label>Wiek</label>
    <div class="calculator-input">
      <input class="form-control"
             placeholder="Wiek"
             [ngClass]="{'invalid': !checkIsValid('age')}"
             type="number"
             formControlName="age">
      <p class="custom-placeholder">Wiek</p>
    </div>
    <label>lat</label>
  </div>
  <div class="form-group calculator-item">
    <label>Waga</label>
    <div class="calculator-input">
      <input class="form-control"
             placeholder="Waga"
             type="number"
             [ngClass]="{'invalid': !checkIsValid('weigth')}"
             formControlName="weigth">
      <p class="custom-placeholder">Waga</p>
    </div>
    <label>kg</label>
  </div>
  <div class="form-group calculator-item">
    <label>Wysokość</label>
    <div class="calculator-input">
      <input class="form-control"
             type="number"
             [ngClass]="{'invalid': !checkIsValid('height')}"
             placeholder="Wysokość"
             formControlName="height">
      <p class="custom-placeholder">Wysokość</p>
    </div>
    <label>cm</label>
  </div>
  <div class="form-group calculator-item">
    <button *ngFor="let type of bodyTypesStringArray"
            [ngClass]="userBuildTypeClass(type)"
            (click)="builTypeHandler(type)"
            class="list-group-item list-group-item-action">
      {{getBodyTypeReadable(type)}}
    </button>
  </div>
  Trening:
  <div class="form-group calculator-item jumbotron">
    <label>Aeroby</label>
    <div class="calculator-input">
      <input class="form-control"
             type="number"
             placeholder="Czas"
             formControlName="aerobicTraining">
      <p class="custom-placeholder">Czas aerobów</p>
    </div>
    <label>min</label>
    <div class="btn-group"
         dropdown>
      <button class="form-control dropdownToggle"
              dropdownToggle
              type="button">
        {{getPeriodReadableActive(singleActivity.aerobicTraining.period)}}
        <i class="fa fa-caret-down"
           aria-hidden="true">
        </i>
      </button>
      <div *dropdownMenu class="dropdown-menu"
           role="menu">
        <div class="list-group">
          <a *ngFor="let type of periodTypesStringArray"
             (click)="addPeriod(type, 'aerobicTraining')"
             class="list-group-item list-group-item-action">
            {{getPeriodReadable(type)}}
          </a>
        </div>
      </div>
    </div>
    <div class="btn-group"
         dropdown>
      <button class="form-control dropdownToggle"
              dropdownToggle
              type="button">
        {{getIntensityReadableActive(singleActivity.aerobicTraining.intensity)}}
        <i class="fa fa-caret-down"
           aria-hidden="true"></i>
      </button>
      <div *dropdownMenu class="dropdown-menu"
           role="menu">
        <div class="list-group">
          <a *ngFor="let type of intensityTypesStringArray"
             (click)="addIntensity(type, 'aerobicTraining')"
             class="list-group-item list-group-item-action">
            {{getIntensityReadable(type)}}
          </a>
        </div>
      </div>
    </div>
    <button type="button"
            (click)="addAnotherActivity('aerobicTraining')"
            class="btn btn-primary calculator-item">
      Dodaj aktywność
    </button>
  </div>
  <ng-container *ngIf="userInformation.aerobicTraining.length">
    <ul>
      <li *ngFor="let activity of userInformation.aerobicTraining">
        {{readActivity(activity)}}
      </li>
    </ul>
  </ng-container>
  <div class="form-group calculator-item">
    <label>Siłownia</label>
    <div class="calculator-input">
      <input class="form-control"
             type="number"
             placeholder="Czas"
             formControlName="gymTraining">
      <p class="custom-placeholder">Czas na siłowni</p>
    </div>
    <label>min</label>
    <div class="btn-group"
         dropdown>
      <button class="form-control dropdownToggle"
              dropdownToggle
              type="button">
        {{getPeriodReadableActive(singleActivity.gymTraining.period)}} <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div *dropdownMenu class="dropdown-menu"
           role="menu">
        <div class="list-group">
          <a *ngFor="let type of periodTypesStringArray"
             (click)="addPeriod(type, 'gymTraining')"
             class="list-group-item list-group-item-action">
            {{getPeriodReadable(type)}}
          </a>
        </div>
      </div>
    </div>
    <div class="btn-group"
         dropdown>
      <button class="form-control dropdownToggle"
              dropdownToggle
              type="button">
        {{getIntensityReadableActive(singleActivity.aerobicTraining.intensity)}}
        <i class="fa fa-caret-down"
           aria-hidden="true">
        </i>
      </button>
      <div *dropdownMenu class="dropdown-menu"
           role="menu">
        <div class="list-group">
          <a *ngFor="let type of intensityTypesStringArray"
             (click)="addIntensity(type, 'gymTraining')"
             class="list-group-item list-group-item-action">
            {{getIntensityReadable(type)}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <button type="button"
          (click)="addAnotherActivity('gymTraining')"
          class="btn btn-primary calculator-item">
    Dodaj aktywność
  </button>
  <ng-container *ngIf="userInformation.gymTraining.length">
    <ul>
      <li *ngFor="let activity of userInformation.gymTraining">
        {{readActivity(activity)}}
      </li>
    </ul>
  </ng-container>
  <button type="submit"
          (click)="setCalories()"
          class="btn btn-success">
    Pokaz kcal!
  </button>
</form>

