$color-navbar-background: rgba(#212121, .1);
$color-navbar-text: rgba(#212121, .7);

.footer{
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding:5px;
  background: $color-navbar-background;
  color: $color-navbar-text;
}
