@import '../../styles/variables';

.navbar-height{
  border-radius: 0;
  overflow: hidden;
  @media (min-width: 768px){
    overflow: visible;
  }
  height: 50px;
}
.mobile-icon{
  display:none;
}

.mobile {
  @media (max-width: 767px) {
    .mobile-icon {
      position: fixed;
      display: block;
      right: 10px;
      color: white;
      top: 10px;
      font-size: 30px;
    }

    .active > a {
      background: #090909;
    }

    .mobile-content {
      margin: 0;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 9999;
      background: #090909;
    }
    .mobile-dropdown {
      position: relative;
      padding: 0;
      background: lighten(#090909, 10%);
      list-style: none;
    }

    .mobile-item {
      padding: 10px;

      &:hover {
        background: lighten(#090909, 5%);
      }
    }
  }
}

