@import '../../config';

.navbar{
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  max-width:100%;
  height: $height-navbar;
  padding: 0 10px;

  &-link{
    padding: 20px;
    display: flex;
    align-items: center;
    color: $color-text;
    text-decoration: none;

    i{
      margin-right: 10px;
    }

    &:hover{
      box-shadow: inset 0px -3px 0px 0px lighten($color-motive, 10%);
    }
  }
}

.navbar .navbar-link.active{
  color: $color-motive;
  box-shadow: inset 0px -3px 0px 0px $color-motive;
}
