<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HOME</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-item navbar-link"
         *ngFor="let link of routerLinks"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         routerLink="{{link.link}}">
        <i class="fa nav-icon" [ngClass]="link.icon" aria-hidden="true"></i>
        {{link.linkReadable}}
      </a>
    </ul>
  </div>
</nav>
