<div class="vertical-nav">
  <button class="btn btn-primary hidden-md-up"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample">
    <span class="">Menu</span>
  </button>
  <div class="collapse"
       id="collapseExample">
    <ul class="nav flex-column"
        id="exCollapsingNavbar3">
      <li class="vertical-nav-item nav-item"
          *ngFor="let link of routerLinks">
        <a class="vertical-nav-link nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLink="{{link.link}}">
          <i class="fa vertical-nav-icon" [ngClass]="link.icon" aria-hidden="true"></i>
          <h6>{{link.linkReadable}}</h6>
        </a>
      </li>
    </ul>
  </div>
</div>
