<div class="card">
  <div class="row">
    <div class="card-body col-xs-12 col-md-12">
      Wskaźnik podstawowej przemiany materii - BMR
    </div>
    <div class="card-body col-xs-12 col-md-6">
      <c-form (onCalculate)="setCalories($event)"></c-form>
    </div>
    <div class="card-body col-xs-12 col-md-6">
      Wyliczone wartości na dzień aktywności:
      <ng-container *ngIf="allCalories">
        bmr: {{allCalories.bmr}} kcal <br />
        z wysiłku aerobowego: {{allCalories.teaAero}} kcal <br />
        z wysiłku siłowego: {{allCalories.teaGym}} kcal <br />
        neat: {{allCalories.neat}} kcal <br />
        tef:  {{allCalories.tef}} kcal <br />
        === {{allCalories.all}} kcal <br />
      </ng-container>
    </div>
  </div>
</div>
