<app-banner [backgroundImage]="'1.jpg'"></app-banner>
<div class="cards container cards-grids cards-grids-small">
  <div class="card" *ngFor="let ingredient of lastIngredients">
    <img *ngIf="ingredient.thumbnail"
         class="card-img-top"
         src="{{ingredient.thumbnail}}"
         alt="{{ingredient.name}}">
    <div class="card-body">
      <h4>name: {{ingredient.name}}</h4>
      <p class="text-muted">{{typeReadable(ingredient.genre)}}</p>
      <p>kcal: {{ingredient.kcal}}</p>
      <p *ngIf="ingredient.approxWeigth">Średnia waga: {{ingredient.approxWeigth}}</p>
      <div class="">
        <p>bialko: {{ingredient.proteins}}</p>
        <p>tluszcz: {{ingredient.fat}}</p>
        <p>wegle: {{ingredient.carbs}}</p>
      </div>
    </div>
  </div>
</div>
<i-add></i-add>
