.card{
  flex: 1;
  min-width:47.5%;
  margin:2.5%;

  &:first-child{
    min-width:100%;
    margin: 0 0 2.5% 0;
  }

  &:nth-child(even){
    margin-left: 0;
  }

  &:nth-child(odd){
    margin-right: 0;
  }
}

