<app-banner></app-banner>
<div class="container content-position">
  <div class="cards cards-grids">
    <div class="card card-no-padding"
         [ngClass]="{'card-img-background': post.thumbnail}"
         [ngStyle]="{'background-image': 'url('+ post.thumbnail +')'}"
         *ngFor="let post of lastPosts">
      <div class="card-body">
        <h4 class="card-title">
          {{post.title}}
        </h4>
        <p class="card-text">
          <small class="card-text-muted">
            Date: {{post.createDate}}
          </small>
        </p>
        <div class="card-content">
          {{post.content}}
        </div>
        <p class="card-text">
          <small class="card-text-muted">
            Author: {{post.authorId===1 ? 'Adam' : 'Other'}}
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<app-banner-parallax [backgroundImage]="'../../../assets/food.jpg'"></app-banner-parallax>
<app-new-post></app-new-post>
