@mixin transition($element: all, $time: 0.3s, $mode: ease-in-out){
  -webkit-transition: $element $time $mode;
  -moz-transition: $element $time $mode;
  -ms-transition: $element $time $mode;
  -o-transition: $element $time $mode;
  transition: $element $time $mode;
}
