
  <ul class="menu-content nav navbar-nav">
    <li class="menu-link" dropdown>
      <p dropdownToggle
         type="button">
        Button<span class="menu-caret caret"></span>
      </p>
      <ul *dropdownMenu class="menu-dropdown dropdown-menu list-group" role="menu">
        <li role="" class="list-group-item "><a class="" href="#">Action</a></li>
        <li role="" class="list-group-item "><a class="" href="#">Another action</a></li>
        <li role="" class="list-group-item "><a class="" href="#">Something else here</a></li>
        <li role="" class="list-group-item "><a class="" href="#">Separated link</a>
        </li>
      </ul>
    </li>
    <li class="menu-link">about</li>
    <li class="menu-link">about sss</li>
    <li class="menu-link">contact</li>
  </ul>

